# Unity 預設不需要版本控制的資料夾
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/
.vs/

# Visual Studio / Rider 檔案
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.pdb.meta
*.mdb
*.opendb
*.VC.db

# 自定義排除
.fake

# 避免 Unity Build 時產生的大型資源檔案進 Git
*.resS
*.resource
*.assets
*.bundle
*.apk
*.aab
*.exe
*.dll
*.json
globalgamemanagers*
level*
resources.assets*

# macOS / Windows 系統檔案
.DS_Store
Thumbs.db
